name: ci

on:
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Get Node version from Node manifest
        run: |
          echo "NODE_VER=$(jq -r '.engines.node' package.json | sed 's/v//' )" >> $GITHUB_ENV
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ env.NODE_VER }}
          cache: "npm"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: npm ci
      - name: Check for formatting errors
        run: npm run format:check
      - name: Check for linting errors
        run: npm run lint:check
      - name: Run test
        run: npm test
