name: ci

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.3.0
      - name: Get Node version from Node manifest
        run: echo "NODE_VER=$(curl -s https://nwjs.io/versions | jq -r ".versions[0].components.node")" >> $GITHUB_ENV
      - name: Setup Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{ env.NODE_VER }}
          cache: "npm"
      - name: Enable corepack
        run: corepack enable
      - name: Install dependencies
        run: npm ci
      - name: Run test
        run: npm test
